# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.10/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (4.9.4)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (2024.6.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)

In [3]:
# pip install pandas yfinance
# pip install pandas-datareader

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas_datareader.data as web
from datetime import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [5]:
start_date = '2015/01/01'
end_date = datetime.today().strftime('%Y/%m/%d')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [6]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [7]:
start_date = '2015-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

df_apple = yf.download('AAPL', start=start_date, end=end_date)

print(df_apple)

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   27.847500   27.860001   26.837500   27.332500   24.402168
2015-01-05   27.072500   27.162500   26.352501   26.562500   23.714724
2015-01-06   26.635000   26.857500   26.157499   26.565001   23.716957
2015-01-07   26.799999   27.049999   26.674999   26.937500   24.049515
2015-01-08   27.307501   28.037500   27.174999   27.972500   24.973558
...                ...         ...         ...         ...         ...
2024-06-04  194.639999  195.320007  193.029999  194.350006  194.350006
2024-06-05  195.399994  196.899994  194.869995  195.869995  195.869995
2024-06-06  195.690002  196.500000  194.169998  194.479996  194.479996
2024-06-07  194.649994  196.940002  194.139999  196.889999  196.889999
2024-06-10  196.899994  197.300003  192.149994  193.119995  193.119995

               Volume
Date
2015-01-02  212818400
2015-01-05  257142000
2015-01-06  263188400
2015-01-07  160423600
2015-01-08  237458000
...               ...
2024-06-04   47471400
2024-06-05   54156800
2024-06-06   41181800
2024-06-07   53103900
2024-06-10   97010200

[2375 rows x 6 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [5]:
df_apple['stock'] = 'AAPL'
df_apple.head()

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [8]:
df_tsla = yf.download('TSLA', start=start_date, end=end_date)
df_ibm = yf.download('IBM', start=start_date, end=end_date)
df_msft = yf.download('MSFT', start=start_date, end=end_date)

df_tsla['stock'] = 'TSLA'
df_ibm['stock'] = 'IBM'
df_msft['stock'] = 'MSFT'

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [9]:
df = pd.concat([df_apple,df_tsla,df_ibm,df_msft])

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [10]:
df['Date'] = df.index
df_stock = df.set_index(['Date','stock'],drop=True)
df_stock

,,Open,High,Low,Close,Adj Close,Volume
Date,stock,,,,,,
2015-01-02,NaN,27.847500,27.860001,26.837500,27.332500,24.402168,212818400
2015-01-05,NaN,27.072500,27.162500,26.352501,26.562500,23.714724,257142000
2015-01-06,NaN,26.635000,26.857500,26.157499,26.565001,23.716957,263188400
2015-01-07,NaN,26.799999,27.049999,26.674999,26.937500,24.049515,160423600
2015-01-08,NaN,27.307501,28.037500,27.174999,27.972500,24.973558,237458000
...,...,...,...,...,...,...,...
2024-06-04,MSFT,412.429993,416.440002,409.679993,416.070007,416.070007,14348900
2024-06-05,MSFT,417.809998,424.079987,416.299988,424.010010,424.010010,16988000
2024-06-06,MSFT,424.010010,425.309998,420.579987,424.519989,424.519989,14861300
2024-06-07,MSFT,426.200012,426.279999,423.000000,423.850006,423.850006,13621700
2024-06-10,MSFT,424.700012,428.079987,423.890015,427.869995,427.869995,13982900

### Step 7. Create a dataFrame called vol, with the volume values.

In [11]:
vol = df['Volume']
vol

Date
2015-01-02    212818400
2015-01-05    257142000
2015-01-06    263188400
2015-01-07    160423600
2015-01-08    237458000
                ...
2024-06-04     14348900
2024-06-05     16988000
2024-06-06     14861300
2024-06-07     13621700
2024-06-10     13982900
Name: Volume, Length: 9500, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [12]:
weekly_volume = df['Volume'].resample('W').sum()
weekly_volume

Date
2015-01-04     317977973
2015-01-11    1658058184
2015-01-18    1860312351
2015-01-25    1208158162
2015-02-01    2571403289
                 ...
2024-05-19     760918500
2024-05-26     714648600
2024-06-02     613322200
2024-06-09     650112200
2024-06-16     165207700
Freq: W-SUN, Name: Volume, Length: 494, dtype: int64

### Step 9. Find all the volume traded in the year of 2015

In [13]:
vol.loc["2015"].sum()

78803361900

In [14]:
df_2015 = df.loc['2015-01-02':'2015-12-31']

total_volume_2015 = df_2015['Volume'].sum()
print(total_volume_2015)

78803361900